[Desktop Entry]
Name=Solaar
Comment=Logitech Unifying Receiver peripherals manager
Exec=solaar
Icon=solaar
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;GTK;
#Categories=Utility;GTK;Settings;HardwareSettings;
