<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta name="description" content="{{ site.tagline }}" />

		<link rel="stylesheet" type="text/css" media="screen" href="{{ site.root }}style/stylesheet.css">
		<link rel="icon" type="image/png" href="{{ site.root }}images/favicon.png" />

		<title>{{ page.title }}</title>
	</head>

	<body>

		<div id="header_wrap" class="outer">
			<header class="inner">
				<a id="forkme_banner" href="{{ site.repository }}">View on GitHub</a>

				<h1 id="project_title"><img class="logo" alt="logo" src="{{ site.root }}images/solaar-logo.png" /> {{ site.title }}</h1>
				<h2 id="project_tagline">{{ site.tagline }}</h2>

				<section id="downloads">
					<a class="tar_download_link" href="{{ site.tar_download }}">Solaar {{ site.version }}</a>
					<p style="color: #fff">
						Latest version:<br/>
						<span style="float: right; font-weight: bolder;">{{ site.version }}</span>
					</p>
				</section>
			</header>
		</div>

		<div id="main_content_wrap" class="outer">
			<section id="main_content" class="inner">
				{{ content }}
			</section>
		</div>

		<div id="footer_wrap" class="outer">
			<footer class="inner">
				<p class="copyright"><a href="{{ site.repository }}">{{ site.title }}</a> maintained by <a href="{{ site.owner_url }}">{{ site.owner }}</a></p>
				<p><a href="https://github.com/jsncostello/slate">Slate</a> theme by <a href="https://github.com/jsncostello">Jason Costello</a></p>
			</footer>
		</div>

		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("{{ site.ga_id }}");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</body>
</html>
