#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	# Adding the required helpers
	dh $@ --with=python2

# override_dh_auto_clean:
# 	dh_auto_clean
# 	rm -rf build/

override_dh_auto_install:
	python setup.py install --root=debian/solaar --install-layout=deb --install-lib=/usr/share/solaar/lib

override_dh_auto_build:

override_dh_installudev:
	dh_installudev --priority=99 --name=logitech-unifying-receiver
