# Initially copied from signal11/hidapi/udev, with modifications.

# This is a sample udev file for HIDAPI devices which changes the permissions
# to 0660 and group to plugdev for a specified device on Linux systems.

# Make sure the plugdev group exists on your system and your user is a member
# before applying these rules.

# HIDAPI/hidraw
ACTION=="add", KERNEL=="hidraw*", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c52b", GROUP="plugdev", MODE="0660"

# vim: ft=udevrules
