name: checks

on: [push, pull_request]

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2

    - name: Run pre-commit
      uses: pre-commit/action@v3.0.0
